# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Arquivos de configuração do Firebase
android/app/google-services.json
ios/GoogleService-Info.plist
ios/Runner/GoogleService-Info.plist

# Arquivos de configuração local do Android
android/local.properties

# Arquivos de ambiente (se você estiver usando flutter_dotenv)
.env

# Arquivos de chave de assinatura (keystore)
*.keystore
*.jks

# Arquivos de configuração do iOS
ios/Flutter/Flutter.podspec
ios/Podfile.lock
ios/Pods/

# Arquivos gerados pelo Flutter
.flutter/
.fvm/

# Arquivos de configuração do VS Code (opcional, descomente se necessário)
.vscode/

# Arquivos de log e cache do Flutter
flutter_*.log
flutter_*.json

# Arquivos de usuário específicos (opcional)
.user_prefs